.rc-calendar-hidden {
  display: none;
}

.rc-calendar-input-invalid {
  border-color: red;
}

.rc-calendar-picker {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 1000;
}

.rc-calendar-picker-hidden {
  display: none;
}

.rc-calendar-picker-slide-up-enter {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  display: block !important;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}

.rc-calendar-picker-slide-up-appear {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  display: block !important;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}

.rc-calendar-picker-slide-up-leave {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  display: block !important;
  opacity: 1;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused;
}

.rc-calendar-picker-slide-up-enter.rc-calendar-picker-slide-up-enter-active.rc-calendar-picker-placement-bottomLeft,
.rc-calendar-picker-slide-up-enter.rc-calendar-picker-slide-up-enter-active.rc-calendar-picker-placement-bottomRight,
.rc-calendar-picker-slide-up-appear.rc-calendar-picker-slide-up-appear-active.rc-calendar-picker-placement-bottomLeft,
.rc-calendar-picker-slide-up-appear.rc-calendar-picker-slide-up-appear-active.rc-calendar-picker-placement-bottomRight {
  animation-name: rcDropdownSlideUpIn;
  animation-play-state: running;
}

.rc-calendar-picker-slide-up-enter.rc-calendar-picker-slide-up-enter-active.rc-calendar-picker-placement-topLeft,
.rc-calendar-picker-slide-up-enter.rc-calendar-picker-slide-up-enter-active.rc-calendar-picker-placement-topRight,
.rc-calendar-picker-slide-up-appear.rc-calendar-picker-slide-up-appear-active.rc-calendar-picker-placement-topLeft,
.rc-calendar-picker-slide-up-appear.rc-calendar-picker-slide-up-appear-active.rc-calendar-picker-placement-topRight {
  animation-name: rcDropdownSlideDownIn;
  animation-play-state: running;
}

.rc-calendar-picker-slide-up-leave.rc-calendar-picker-slide-up-leave-active.rc-calendar-picker-placement-bottomLeft,
.rc-calendar-picker-slide-up-leave.rc-calendar-picker-slide-up-leave-active.rc-calendar-picker-placement-bottomRight {
  animation-name: rcDropdownSlideUpOut;
  animation-play-state: running;
}

.rc-calendar-picker-slide-up-leave.rc-calendar-picker-slide-up-leave-active.rc-calendar-picker-placement-topLeft,
.rc-calendar-picker-slide-up-leave.rc-calendar-picker-slide-up-leave-active.rc-calendar-picker-placement-topRight {
  animation-name: rcDropdownSlideDownOut;
  animation-play-state: running;
}

@-webkit-keyframes rcDropdownSlideUpIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes rcDropdownSlideUpIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes rcDropdownSlideUpOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes rcDropdownSlideUpOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@-webkit-keyframes rcDropdownSlideDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes rcDropdownSlideDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes rcDropdownSlideDownOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes rcDropdownSlideDownOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

.rc-calendar-date-panel,
.rc-calendar-panel {
  position: relative;
  outline: none;
}

.rc-calendar-week-number {
  width: 286px;
}

.rc-calendar-week-number-cell {
  text-align: center;
}

.rc-calendar-header .rc-calendar-prev-month-btn {
  position: absolute;
  left: 25px;
}

.rc-calendar-header .rc-calendar-prev-month-btn:after {
  content: '‹';
}

.rc-calendar-header .rc-calendar-next-month-btn {
  position: absolute;
  right: 25px;
}

.rc-calendar-header .rc-calendar-next-month-btn:after {
  content: '›';
}

.rc-calendar-year-select,
.rc-calendar-month-select,
.rc-calendar-day-select {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  padding: 0 8px;
  line-height: 34px;
}

.rc-calendar-year-select:hover,
.rc-calendar-month-select:hover,
.rc-calendar-day-select:hover {
  cursor: pointer;
  color: #23c0fa;
}

.rc-calendar-prev-month-btn,
.rc-calendar-next-month-btn,
.rc-calendar-prev-year-btn,
.rc-calendar-next-year-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #999;
  font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Sans Serif", sans-serif;
  padding: 0 5px;
  font-size: 16px;
  display: inline-block;
  line-height: 34px;
}

.rc-calendar-prev-month-btn:hover,
.rc-calendar-next-month-btn:hover,
.rc-calendar-prev-year-btn:hover,
.rc-calendar-next-year-btn:hover {
  color: #23c0fa;
}

.rc-calendar-next-year-btn {
  right: 0;
}

.rc-calendar-next-year-btn:after {
  content: '»';
}

.rc-calendar-prev-year-btn {
  left: 0;
}

.rc-calendar-prev-year-btn:after {
  content: '«';
}

.rc-calendar-disabled-cell .rc-calendar-date {
  cursor: not-allowed;
  color: #bcbcbc;
  background: #f3f3f3;
  border-radius: 0;
  width: auto;
}

.rc-calendar-disabled-cell .rc-calendar-date:hover {
  background: #f3f3f3;
}

.rc-calendar-disabled-cell-first-of-row .rc-calendar-date {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rc-calendar-disabled-cell-last-of-row .rc-calendar-date {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rc-calendar-month-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: 10;
  position: absolute;
  outline: none;
}

.rc-calendar-month-panel-hidden {
  display: none;
}

.rc-calendar-month-panel-header {
  padding: 0 10px;
  height: 34px;
  line-height: 30px;
  position: relative;
  text-align: center;
  user-select: none;
  border-bottom: 1px solid #ccc;
}

.rc-calendar-month-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  width: 30px;
}

.rc-calendar-month-panel-header > a:hover {
  cursor: pointer;
  color: #23c0fa;
}

.rc-calendar-month-panel-prev-year-btn,
.rc-calendar-month-panel-next-year-btn {
  position: absolute;
  top: 0;
}

.rc-calendar-month-panel-next-year-btn:after {
  content: '»';
}

.rc-calendar-month-panel-prev-year-btn {
  user-select: none;
  left: 0;
}

.rc-calendar-month-panel-prev-year-btn:after {
  content: '«';
}

.rc-calendar-month-panel .rc-calendar-month-panel-year-select {
  width: 180px;
}

.rc-calendar-month-panel-year-select-arrow {
  display: none;
}

.rc-calendar-month-panel-next-year-btn {
  user-select: none;
  right: 0;
}

.rc-calendar-month-panel-body {
  padding: 9px 10px 10px;
}

.rc-calendar-month-panel-table {
  table-layout: fixed;
  width: 100%;
  height: 255px;
  border-collapse: separate;
}

.rc-calendar-month-panel-cell {
  text-align: center;
}

.rc-calendar-month-panel-cell .rc-calendar-month-panel-month {
  display: block;
  width: 46px;
  margin: 0 auto;
  color: #666;
  border-radius: 4px 4px;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;
}

.rc-calendar-month-panel-cell .rc-calendar-month-panel-month:hover {
  background: #ebfaff;
  cursor: pointer;
}

.rc-calendar-month-panel-cell-disabled .rc-calendar-month-panel-month {
  color: #bfbfbf;
}

.rc-calendar-month-panel-cell-disabled .rc-calendar-month-panel-month:hover {
  background: white;
  cursor: not-allowed;
}

.rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month {
  background: #3fc7fa;
  color: #fff;
}

.rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month:hover {
  background: #3fc7fa;
  color: #fff;
}

.rc-calendar-year-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: 10;
  position: absolute;
  outline: none;
}

.rc-calendar-year-panel-hidden {
  display: none;
}

.rc-calendar-year-panel-header {
  padding: 0 10px;
  height: 34px;
  line-height: 30px;
  position: relative;
  text-align: center;
  user-select: none;
  border-bottom: 1px solid #ccc;
}

.rc-calendar-year-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  width: 30px;
}

.rc-calendar-year-panel-header > a:hover {
  cursor: pointer;
  color: #23c0fa;
}

.rc-calendar-year-panel-prev-decade-btn,
.rc-calendar-year-panel-next-decade-btn {
  position: absolute;
  top: 0;
}

.rc-calendar-year-panel-next-decade-btn:after {
  content: '»';
}

.rc-calendar-year-panel-prev-decade-btn {
  user-select: none;
  left: 0;
}

.rc-calendar-year-panel-prev-decade-btn:after {
  content: '«';
}

.rc-calendar-year-panel .rc-calendar-year-panel-decade-select {
  width: 180px;
}

.rc-calendar-year-panel-decade-select-arrow {
  display: none;
}

.rc-calendar-year-panel-next-decade-btn {
  user-select: none;
  right: 0;
}

.rc-calendar-year-panel-body {
  padding: 9px 10px 10px;
}

.rc-calendar-year-panel-table {
  table-layout: fixed;
  width: 100%;
  height: 255px;
  border-collapse: separate;
}

.rc-calendar-year-panel-cell {
  text-align: center;
}

.rc-calendar-year-panel-year {
  display: block;
  width: 46px;
  margin: 0 auto;
  color: #666;
  border-radius: 4px 4px;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;
}

.rc-calendar-year-panel-year:hover {
  background: #ebfaff;
  cursor: pointer;
}

.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year {
  background: #3fc7fa;
  color: #fff;
}

.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year:hover {
  background: #3fc7fa;
  color: #fff;
}

.rc-calendar-year-panel-last-decade-cell .rc-calendar-year-panel-year,
.rc-calendar-year-panel-next-decade-cell .rc-calendar-year-panel-year {
  user-select: none;
  color: rgba(0, 0, 0, 0.25);
}

.rc-calendar-decade-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: 10;
  position: absolute;
  outline: none;
}

.rc-calendar-decade-panel-hidden {
  display: none;
}

.rc-calendar-decade-panel-header {
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  position: relative;
  text-align: center;
  user-select: none;
  border-bottom: 1px solid #ccc;
}

.rc-calendar-decade-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 1px 5px;
  text-align: center;
  width: 30px;
}

.rc-calendar-decade-panel-header > a:hover {
  cursor: pointer;
  color: #23c0fa;
}

.rc-calendar-decade-panel-prev-century-btn,
.rc-calendar-decade-panel-next-century-btn {
  position: absolute;
  top: 0;
}

.rc-calendar-decade-panel-next-century-btn:after {
  content: '»';
}

.rc-calendar-decade-panel-prev-century-btn {
  user-select: none;
  left: 0;
}

.rc-calendar-decade-panel-prev-century-btn:after {
  content: '«';
}

.rc-calendar-decade-panel-next-century-btn {
  user-select: none;
  right: 0;
}

.rc-calendar-decade-panel-body {
  padding: 9px 10px 10px;
}

.rc-calendar-decade-panel-table {
  table-layout: fixed;
  width: 100%;
  height: 255px;
  border-collapse: separate;
}

.rc-calendar-decade-panel-cell {
  text-align: center;
}

.rc-calendar-decade-panel-decade {
  display: block;
  margin: 0 auto;
  color: #666;
  border-radius: 4px 4px;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;
}

.rc-calendar-decade-panel-decade:hover {
  background: #ebfaff;
  cursor: pointer;
}

.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade {
  background: #3fc7fa;
  color: #fff;
}

.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade:hover {
  background: #3fc7fa;
  color: #fff;
}

.rc-calendar-decade-panel-last-century-cell .rc-calendar-decade-panel-decade,
.rc-calendar-decade-panel-next-century-cell .rc-calendar-decade-panel-decade {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0.25);
}

.rc-calendar-month-calendar {
  height: 308px;
}
